<!DOCTYPE html>
<html>
  <head>
    <title>Yogesh Kumar</title>
    <style>
      h1 {
        font-size: 50px;
        font-familt: Roboto;
        text-align: center;
      }

      #banner {
        width: 100%;
        height: 360px;
        object-fit: cover;
      }

      h2 {
        font-size: 32px;
        font-familt: Roboto;
        text-align: center;
      }

      p {
        font-familt: Roboto;
      }

      #container {
        max-width: 60%;
        margin: 0 auto 0 auto;
      }

    </style>
  </head>
  <body>
    <div id = "container">
        <h1>Yogesh Kumar <br> Data Analyst </h1>
        <img id="banner" src='https://portfolio-website.yogesholla.repl.co/static/banner.jpg'> 
        <h2>About Me</h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
  </body>
  <h2>Education</h2>
  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
  
  <h2>Experience</h2>
    <h3>
      <li>Cars24, Business Analyst</li>
    </h3>
  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
     Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. 
  </p>
    <h3>
      <li>NatWest Group, Analyst</li>
    </h3>
  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
     Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
  <h2>Skills</h2>
  <p>
    Languages & Packages
    <li>Python: Pandas, Numpy, Selenium, BeautifulSoup4</li>
    <li>SQL: MySQL, Snowflake</li>
    <li>Vizualisation Tool: Tableau</li>  
  </p>
  <div style= "text-align:center;">
   <button>Contact Me</button>
  </div>
</html>